body{
    margin:0;
}

nav{
align-items: center;
background-color: #fe7a35;
display: flex;
height: 60px;
justify-content: space-evenly;
}

nav a{
    color:navy;
    font-family: 'VT323', monospace;
    text-decoration: none;
    font-size: 22pt;
}

header {
    background-image: url("images/kages2.jpg");
    background-size: cover;
    height: 400px;
}
section{
    background-color:#a99264;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}

div{
    width: 45%;
    text-align: center;
}

div ul{
    list-style-image: url("images/ninja.png")
}

ul li:nth-child(even){
    color: white;
}

h2{
    font-family: 'VT323', monospace;
    font-size: 30 pt;
}