body{
    margin:0;
}

nav{
    align-items: center;
    background-color: #fe7a35;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
}

nav a{
    color:navy;
    font-family: 'VT323', monospace;
    font-size: 22pt;
    text-decoration: none;
}

header {
    background-image: url("images/kages2.jpg");
    background-size: cover;
    height: 400px;
}
section{
    background-color:#a99264;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}

section div{
    width: 45%;
    text-align: center;
}

div ul{
    list-style-image: url("images/ninja.png")
}

ul li:nth-child(even){
    color: white;
}

h2{
    font-family: 'VT323', monospace;
    font-size: 30 pt;
}

input::placeholder {
    font-family: 'VT323', monospace;
}

input:focus {
    background-color: aqua;
}

footer div:nth-child(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

#links {
    display: flex;
    justify-content: space-evenly;
    width: 30%
}

footer{
    align-items: center;
    background-color: rgb(180, 176, 176);
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: center;      
}