body{
    margin:0;
}

nav{
align-items: center;
background-color: #fe7a35;
display: flex;
height: 60px;
justify-content: space-evenly;
}

nav a{
    color: blue;
    font-family: 'VT323', monospace;
    text-decoration: none;
    font-size: 22pt;
}
